<div>
    <h2>Filter example</h2>
    <input class="input-filter" type="text" name="filterOptions" placeholder="Search ID example" [(ngModel)]="filterOptions">
    
</div>

<div class="main" *ngFor="let element of elementData | filterId: filterOptions">
    <div class="main-element">
        <p class="idElement"> ID: {{ element._id }}</p>
        <img class="elementImage" alt="image" src="#" (error)="errorImage($event, element.photo)" />
        <div class="textElement" [innerHTML]="element.text"></div>
    </div>
</div>