<div class="title-filter">
    <h2>{{filter_title}}</h2>
    <input class="input-filter" type="text" name="filterOptions" placeholder="Search ID or text example" [(ngModel)]="filterOptions">    
</div>

<div class="main" *ngFor="let element of elementData | filterId: filterOptions">
    <div class="main-element">
        <p class="idElement"> {{ element.id }}</p>
        <img class="elementImage" alt="image" src="#" (error)="errorImage($event, element.photo)" />
        <div class="textElement" [innerHTML]="element.text"></div>
    </div>
</div>